<h1> Grokkie </h1>
<h2> Categories </h2>
<div>
	<% @categories.each do |category| %>
	  <strong><%= category.name %></strong> <br>
	    <%category.skills.each do |skill| %>
	      <%= link_to skill.name, category_skill_path(category, skill) %><br>
	    <% end %>
	<% end %>
</div>
