if not signed in <br>
Sign in <br>
else<br>
Profile <br>
Sign out (if signed in)<br>

<h1> Grokkie </h1><br>
About us should go here...<br>
<h2> Categories </h2>
<div>
	<% @categories.each do |category| %>
	  <strong><%= category.name %></strong> <br>
	    <%category.skills.each do |skill| %>
	      <%= link_to skill.name, category_skill_path(category, skill) %><br>
	    <% end %>
	<% end %>
</div>
<br>

This is where featured Roadmaps will go....