<h1> <%= @skill.name %> </h1>

<% @skill.roadmaps.each do |roadmap| %>
	<%= link_to roadmap.title, roadmap_path(roadmap.id) %><br>
	<%= roadmap.description %> <br>
	vote = <%= roadmap.vote %><br>
<% end %>