/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require foundation
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome

 *= require_tree .
 */

/******************/
 /* APLICATION STYLE */
/****************/
/*
* {
  border: 1px solid black;
}
*/
body {
  color: #435160;
  font-family: 'Open Sans', sans-serif;
  }

/**********************/
 /*SIGN IN & SIGN UP FORM */
/**********************/

.login_wrapper {
  background-image: url("login_background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login_form {
    padding: 20px 0px;
    background: white;
    box-shadow: 2px;
    -webkit-box-shadow: 2px;
    -moz-box-shadow: 2px;
    color: #6D7781;
    font-size: 16px;
    margin-top: 10%;
}

.login_form h3 {
  font-size: 18px;
  padding: 20px 0;
  color:#1FCE6D;
}

.user_remember_me {
  margin-left: -120px;
}

#submit_button {
  background: #1FCE6D;
  width: 45%;
  height: 40px;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
  margin-right: 16px;
  padding-top: 3px;
}

#submit_button input[type="submit"] {
  font-size: 18px;
  width: 85%;
  border: none;
  margin-left: 20px;
  color: #fff;
}


/* USER PROFILE SHOW PAGE */

.profile_page_container {
  background-color: #ecf0f1;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: inherit; 
}

#profile_form {
  margin-top: 7%;
  margin-left: 6%;
}

#profile_form ul {
  list-style-type: none;
}

#profile_form ul li {
  text-decoration: none;
  font-size: 15px;
}


#user_profile_left_column {
  height:200px;
  margin-right: 2px;
  padding: 10px;
  background-color: #fff;

}
#user_profile_left_column h5 {
  padding: 15px 0;
  margin-top: -10px;
  width: 100%;
  background-color: #34495e;
  border: 1px solid black;
  text-align: center;
  color: #fff;
}

#user_profile_left_column #profile_img {
  height: 80px;
  width: 110px;
}

#user_profile_left_column i {
  padding:0 10px;
}

#user_profile_right_column {
  height:200px;
  margin-left: 80px;
  padding: 10px;
  background-color: white;
}

#user_profile_right_column h5{
  padding: 15px 0;
  margin-top: -10px;
  width: 100%;
  background-color: #34495e;
  border: 1px solid black;
  text-align: center;
  color:#fff;
}

#user_profile_body {
  margin-top:20px;
  height: 300px;
  background-color: #fff;
}

#user_profile_body h5 {
  padding: 15px 0;
  width: 100%;
  background-color: #34495e;
  border: 1px solid black;
  text-align: center;
  color: #fff;
}


/* MEDIA QUERIES */

@media (min-width: 400px) and (max-width: 782px) {

  #submit_button {
  padding-left:20px;
  }

  #submit_button input[type="submit"] {
  font-size: 16px;
  margin: 2px;
  }

  #user_profile_right_column {
  margin-left: 0;
  margin-top: 20px;
  }
}

@media (max-width: 628px) {

  #submit_button {
  padding-left:20px;
  }

  #submit_button input[type="submit"] {
  font-size: 12px;
  width: 90%;
  margin: 0 auto;
  }

}

#sortable p {
  border: 1px solid black;
}

#sortable {
  border: 1px solid black;
}





