/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require foundation
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome

 *= require_tree .
 */

/******************/
 /* APLICATION STYLE */
/****************/
/*
* {
  border: 1px solid black;
}
*/
body {
  background-color: #81888D;
  }
/* HEADER */
header {
  position: relative;
  width: 100%;
  z-index: 1;
}

p {
  font-family: 'Ubuntu', sans-serif;
}

.f-dropdown {
  text-align: left;
}

.header_container {
  margin-left: 10%;
}

.nav_bar li {
  margin-top: 40px;
  list-style-type: none;
}

.header_container #logo h1 {
  font-size: 48px;
  font-family: 'Bevan', cursive;
  letter-spacing: 2px;
}

/**********************/
 /*SIGN IN & SIGN UP FORM */
/**********************/

.login_wrapper {
  background-image: url("login_background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

.login_form {
  padding: 20px 0px;
  background: white;
  box-shadow: 2px;
  -webkit-box-shadow: 2px;
  -moz-box-shadow: 2px;
  color: #6D7781;
  font-size: 16px;
  margin-top: 10%;
  -webkit-box-shadow: 4px 4px 7px #404040;
  -moz-box-shadow: 4px 4px 7px #404040;
  box-shadow: 4px 4px 7px #404040;
}

.login_form h3 {
  font-size: 18px;
  padding: 20px 0;
  color:#1FCE6D;
}

.user_remember_me {
  margin-left: -120px;
}

#submit_button {
 background-color:#70AB8F;
  width: 45%;
  height: 40px;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
  margin-right: 16px;
  padding-top: 3px;
}

/*#submit_button input[type="submit"] {
  font-size: 20px;
  width: 85%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 20px;
  margin-top: -20px;
}*/

input.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 12px;

}


/* MEDIA QUERIES */

@media (min-width: 400px) and (max-width: 782px) {

  #submit_button {
  padding-left:20px;
  }

  #submit_button input[type="submit"] {
  font-size: 16px;
  margin: 2px;
  }

  #user_profile_right_column {
  margin-left: 0;
  margin-top: 20px;
  }

  .header #logo h1 {
  font-size: 30px;
  font-family: 'Bevan', cursive;
  letter-spacing: 2px;
  margin-left: -40px;
  }

  .nav_bar li {
  margin-top: 20px;
  list-style-type: none;
  margin-left: 70px;
  } 


}

@media (max-width: 628px) {

  #submit_button {
  padding-left:20px;
  }

  #submit_button input[type="submit"] {
  font-size: 12px;
  width: 90%;
  margin: 0 auto;
  }

}

#sortable p {
  border: 1px solid black;
}

#sortable {
  border: 1px solid black;
}
p.alert {
  color: #D00;
}


body {background-color: red}
