.fancy.modal {
  box-shadow: 0 3px 6px rgba(0,0,0,0.25);
  border: 1px solid #bbb;
  background: -webkit-linear-gradient(top, #fff, #ddd);
  background:    -moz-linear-gradient(top, #fff, #ddd);
  background:         linear-gradient(top, #fff, #ddd);
        
  -webkit-transform: translateY(-100%);
     -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
       -o-transform: translateY(-100%);
          transform: translateY(-100%);
}
.modal.show {
  -webkit-transform: translateY(0%);
     -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
       -o-transform: translateY(0%);
          transform: translateY(0%);
}