/* All Pages common layout */






/* INDEX PAGE */

#header_wrapper {
  background-color: #E4DBBF;
  position: relative;
}

#logo {
  text-align: center;
  margin-top: 5px;
}

#logo h1 {
  font-size: 48px;
  font-family: 'Bevan', cursive;
  letter-spacing: 2px;
  color: #D96459;
  -webkit-text-shadow: 2px 2px 4px #404040;
  -moz-text-shadow: 2px 2px 4px #404040;
  text-shadow: 2px 2px 4px #404040;
}

#logo h1:hover {
  color: #8C4646;
  cursor: pointer;
}

#navbar_actions {
  text-align: center;
}

#navbar_actions ul {
  list-style-type: none;
  margin-top:35px;
}

#navbar_actions li {
  display: inline-block;
  margin: 0 15px;
}

/* About us bar on tablet and web */

#tagline {
  margin-bottom:25px;
  margin-left: 45px;
}

#tagline h5 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;

}

#definition{
  border: 3px solid #000000;
  background-color: whitesmoke;
  margin: 0px 600px 20px 490px;
  text-align: center;
}

#about_us_wrapper {
  margin-bottom: 20px; 
  color: #fff;
}

#team p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  margin-left: 50px;  
}

.about_us_column {
  height: 160px;
  width: 280px;
  text-align: center;
  border-radius: 1px; 
  margin: 0 26px;
  background-color:#70AB8F;
  border-radius: 25px;
  -webkit-box-shadow: 4px 4px 7px #404040;
  -moz-box-shadow: 4px 4px 7px #404040;
  box-shadow: 4px 4px 7px #404040;
}

.about_us_column .fa {
  padding-top: 4px;
}

.about_us_column p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 200;  
  line-height: 15px;
  padding-top: 10px;
  letter-spacing: 4px;
}

/* Featured Categories */
#featured_categories_container {
 padding: 0 0 150px;
}
#featured_categories {
  list-style-type: none;
  width: 100%;
  height: 90px;
  position: relative;
  z-index: 100;
  background-color: rgba(228, 219, 191, .4);
  margin-bottom: 30px;
}

#featured_categories li {
  font-size: 14px;
  display: inline-block;
  margin: 10px 50px;
  color: #D96459;
}

#featured_categories li:hover {
  color: #8C4646;
}

/* Featured Roadmaps*/

.featured_roadmaps {
  background-color: inherit;
  border: none;
}

.featured_roadmaps td {
  height:300px;
  margin: 20px 40px;
  background-color: #fff;
  -webkit-box-shadow: 4px 4px 7px #404040;
  -moz-box-shadow: 4px 4px 7px #404040;
   box-shadow: 4px 4px 7px #404040;
  
}

#featured_roadmap_user p {
  font-size: 12px;  
}

#featured_roadmap_votes {
  
}

#featured_roadmap_title {
  margin-top: 18%;
}

#featured_roadmap_title a {
  font-size: 17px;  
}
#featured_roadmap_skill  {
  margin-top: 20%;
}
#featured_roadmap_skill p {
  font-size: 12px;
  margin-left:60%;
}

#featured_roadmap_images {
  margin-top: 5%;
  margin-left: 55px;
}
#featured_categories {
   text-align: center;

}
#featured_categories  li {
  width: 22px;
  /*width: 80px;
  height: 80px;
  text-align: center;
  border-radius: 100px;
  -webkit-border-radius:100px;
  -moz-webkit-radius:100px;
  background-color: #81C6C1 ;
  color: #fff;*/
}
/* MEDIA QUERIES FOR INDEX PAGE */

@media (min-width: 660px) and (max-width: 1024px) {
  #about_us_wrapper {
    margin-left: 80px;
  }
  .about_us_column {
  height: 130px;
  width: 180px;
  text-align: center; 
  margin: 0 10px;
  }
  .about_us_column i {
    font-size: 60px;  
  }

  .about_us_column p {
  font-size: 10px;
  line-height: 12px;
  }
   #featured_categories li {
    margin: 14px 28px;
    font-size: 10px;
  }  

 }
@media (max-width: 540px) {
  #navbar_actions li {
    margin: 1px;
  }

  #featured_categories li {
    margin: 20px 12px;
    font-size: 8px;
  }  

}

@media (min-width: 640px) and (max-width: 675px) {

  #about_us_wrapper {
    margin-left: 60px;
  }

  .about_us_column {
    height: 100px;
    width: 150px;
    margin: 0 15px;
  }

  .about_us_column p {
  font-size: 10px;
  line-height: 12px;
  }

   .about_us_column i {
    display: none; 
  }

  #featured_categories li {
    margin: 14px 28px;
    font-size: 10px;
  }  
}



