/* All Pages common layout */
body {
  /*text-align: center; */
  background-color: #dfe5ea;
}

/* INDEX PAGE */


#header_wrapper {
  background-color: #444;
  height: 400px;
}

#logo {
  text-align: center;
}

#navbar_actions {
  text-align: center;
}

#navbar_actions ul {
  list-style-type: none;
  margin-top:35px;
}

#navbar_actions li {
  display: inline-block;
  margin: 0 15px;
}

#tagline {
  margin-bottom:40px;
}

#about_us_wrapper {
  margin-bottom: 20px;  
}

.about_us_column {
  height: 160px;
  text-align: center;
  border: 1px solid black;
}

.search_wrapper {
  height: 60px;
  background: #b1c0cf;
}

#featured_categories {
  list-style-type: none;
}

#featured_categories li {

}

#category_circles {
  display: inline-block;
  margin:0 -50px;
  width:100px;
  height:100px;
  border: 1px solid black;
  border-radius:100px; 
  -webkit-border-radius:100px;
  -moz-border-radius:100px;
}

.featured_roadmaps {
  height:400px;
  border: 1px solid black;
  text-align: center;
}




@media (max-width: 540px) {
  #navbar_actions li {
    margin: 1px;
  }
}



