/* CREATE A NEW ROADMAP */

.new_roadmap_wrapper {
  text-align: center;
}

#home_link {
  margin: 15px auto;
}
#roadmap_skill_id {
  border: none;  
}

#roadmap_title {
  font-size: 16px;
  border: none;

}

#roadmap_description {
  font-size: 16px;
  border: none; 
}

.btn {
  font-size: 12px;
  
}

@media (max-width: 628px) {

  body {
    background-color: white;
  }

  #mobile_bar {
    width: 100%;
    height:1px;
    background-color: grey; 
  }

  .btn {
    font-size: 12px;
    border: none;
    background-color: transparent;
    color: grey;
  }


  #roadmap_title {
    background-color: transparent;
    -webkit-appearance: caret;
  }

  #roadmap_description {
    background-color: transparent;
    -webkit-appearance: caret;
  }

}